.section-home{background:linear-gradient(to bottom, #4e99ff, #0c73ff);}
.curve{transform: rotate(90deg);opacity: 95%;}
.shadow-n{box-shadow:none;}
.curve-45{transform: rotate(45deg);opacity: 70%;filter: blur(4px);z-index:0;}
.curve-45-60{transform: rotate(45deg);opacity: 60%;filter: blur(3px);}
.btn-primary-outline, .btn-primary-outline a{color:var(--light); border-color: var(--light); padding: 15px 40px;border-radius:50px;}
.home-text{margin: 0 auto;}
.section-features{background: linear-gradient(to bottom, #eeeeee, #bbd8ff);}
.bg-asthetic{background: linear-gradient(to left bottom, #a9c7f0, #6ea3ec);}
.o-hidden{overflow: hidden;}
.z-i1{z-index:1;}